/* .cartBtn {
    font-size: 24px;
} */
.img {
    height: 110px;
}
.car {
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
}

.numbtn {
    /* width: 24%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

 .col3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 15px; */
}


.col4 {
    float: right;
} 